{% extends "base.html" %}

{% block title %} --create entry-- {% endblock %}

{% block content %}


<!-- Blog Create Entry  -->
      <div class="col-md-8">


        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">

          <div class="card-header">
              <h1> Create An Account </h1>

        <form  method="POST">
            {% csrf_token %}
            {{ form.as_p }}

              <button type="submit" class="btn btn-primary"> Create Account</button>
        </form>



          </div>

          <div class="card-body">





          </div>
        </div>

      </div>

{% endblock %}